<h1> Create a new bookmark </h1>

<form action="/links" method="post">
  Enter title: <br>
  <input type="text" name="title">
  <br>
  Enter URL: <br>
  <input type="text" name="url">
  <br>
  <label for='tags'>
    Tags:
    <input type='text' name='tags' />
  </label>
  <br>
  <input type="submit" value="Create bookmark">
</form>
